# This to verify lib version bump doesn't break anything
name: Building app testing

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - '**'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: git config --global user.name "GitHub CD bot"
      - run: git config --global user.email "github-cd-bot@example.com"
      - name: Install deps
        run: npm i
      - name: Build docs
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}